:root {
  --primary-brown: #68482A;
  --dark-brown: #49301D;
  --gradient-start: #8b5a2b;
  --gradient-end: #6f4623;
  --text-light: #ffffff;
  --white: #ffffff;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inika', serif;

}
header{
    display: flex;
    padding: 20px 60px;
    justify-content: space-between;
    align-items: center;
}
.logo{
    align-items: center;
    display: flex;
    gap: 10px;
    cursor: pointer;
}
.logo img{
    width: 60px;
    height: 60px;
}
.logo p{
    font-size: 30px;
    font-weight: bold;
    color: black;

}
nav a{
    text-decoration: none;
    color: black;
}
nav a:hover {
  color: var(--primary-brown);
}
nav{
    display: flex;
    gap: 57px;
    font-size: 21px;
}
.burger {
  display: none;
  font-size: 32px;
  cursor: pointer;
}
.sign-in{
    font-size: 21px;
    cursor: pointer;
}
.main-img {
    position: relative;
    width: 100%;
    height: 500px;     
    overflow: hidden; 
}

.main-img img {
    width: 100%;
    height: 100%; 
    object-fit: cover;   
    display: block;       
}
.content {
    width: 50%;
    position: absolute;
    top: 137px;          
    left: 20px;  
    text-align: left;  
    color: #ffff;  
}
.content h1{
    font-weight: 400;
    font-size: 35px;
}
.content p{
  font-size: 20px;
}
.content button{
    width: 215px;
    height: 50px;
    background-color: var(--primary-brown);
    border-radius: 10px;
    color: var(--text-light);
    border-style: none;
    cursor: pointer;
    margin-top: 30px;
    font-size: 20px;
    transition: background-color 0.3s ease,transform 0.2s ease
}
.content button:hover{
    background-color: #2b1f15;
    transform: scale(1.05);
}
.section-titles{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    margin-top: 90px;
    margin-bottom: 90px;
    animation: bounceIn 1s ease forwards;
}
@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(0.3);
    }
    50% {
        opacity: 1;
        transform: scale(1.05);
    }
    70% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}
.inspo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 200px); 
    gap: 20px;
    padding-left: 70px;
    padding-right: 70px;
}

.inspo-pic{
    overflow: hidden;
    border-radius: 10px;
}

.inspo-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.inspo-pic img:hover {
    transform: scale(1.05);
}

.inspo-pic.large {
    grid-row: span 2;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 66px;
    justify-content: center;
    padding: 0 20px;
}

.card {
    width: 385px;
    transition: background-color 0.3s ease,transform 0.2s ease

}
.card:hover{
    transform: scale(1.05);
}

.card img {
  width: 100%;
  height: auto;

}
.browndiv{
  background:  linear-gradient(135deg,var(--gradient-start),var(--gradient-end));  
  max-width: 1000px;
  margin: 0 auto;
  padding: 70px;
  border-radius: 17px;
  display: flex;
  gap: 86px;
  align-items: center;
  box-shadow: 0 20px 40px rgba(0,0,0,0.6);
  position: relative;

}

.left img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.6);

}

.right {
  width: auto;
  max-width: 400px;
  text-align: left;
    color: white;
}
.right p {
  margin-bottom: 20px;
  line-height: 1.5;
}

.right strong {
  display: block;
  margin-bottom: 5px;
  font-size: 20px;
}
footer{
    margin-top: 200px;
    background-color: var(--dark-brown);
    padding: 50px;
}
.contact{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    gap: 150px;
    color: white;
    justify-content: center;
}
.contact-info p{
    margin-bottom: 20px;
}
input{
    max-width: 300px;
    border-style: none;
    padding: 10px;
}
.socials {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.socials img{
  width: 37px;
  height: 37px;
}


@media (max-width: 420px) {
 header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10001;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
  }

  nav {
    display: none; 
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(100% - 60px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    z-index: 10000;
    overflow: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(-100%);
    background-color: var(--white);

  }

  nav.active {
    display: flex;
    opacity: 1;
    transform: translateY(0);
  }

  nav a {
    font-size: 22px;
    color: var(--primary-brown);
    text-decoration: none;
    font-weight: bold;
  }

  .burger {
    display: block;
  }
  .sign-in{
    display: none;
  }

  .content {
    width: 90%;
    top: 80px;
  }
  .content p{
    font-size: 21px;
    font-weight: 200;
  }

  .inspo {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 0 20px;
  }

  .container {
    flex-direction: column;
    gap: 40px;
  }

  .card {
    width: 100%;
  }

  .browndiv {
    background: none;
    box-shadow: none;
    padding: 0;
  }

  .left {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }

  .left img {
    width: 100%;
    max-width: 100%;
    border-radius: 15px;
  }

  .right {
    position: absolute;
    max-width: 100%;
    padding: 20px;
    color: white;
    border-radius: 15px;
    text-align: center;
  }

  .right strong {
    font-size: 16px;
  }

  .right p {
    font-size: 14px;
  }
  .logo{
    justify-content: center;
  }
  .contact {
    flex-direction: column;
    gap: 40px;
    text-align: center;
  }
  .socials{
    justify-content: center;
    align-items: center;
  }
}
